.color-black { color: #212121; }
.color-grey { color: #B4B1B1; }
.color-font-grey { color: #6B6868; }
.color-btn-yellow { background:rgba(255,193,7,1); }
.color-btn-blue { background:rgba(58,116,255,1); }
.color-btn-red { background:rgba(255,65,7,1); }
.color-btn-grey { background:#B4B1B1; }
body {
  font-size: 16px;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(179.9deg,rgba(236,244,255,1),rgba(255,255,255,1));
  font-family: 'Helvetica Neue', Helvetica, Arial,
    'PingFang SC', 'Hiragino Sans GB', 'Heiti SC',
    'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

a {
  outline: none;
  appearance: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

h3 {
  margin: 0rem;
  padding: 0rem;
}

p {
  margin: 0rem;
  padding: 0rem;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

/**
  header
**/
.header {
  height: 3.750000rem;
  width: inherit;
}

.header_menu {
  height: 2.000000rem;
  width: auto;
  padding-left: 3rem;
  padding-top: 1.875rem;
}

.header_menu span {
  font-size: 1.000000rem;
  line-height: 1.375rem;
  padding-left: 3rem;
}

.header_menu span:first-child {
  font-size: 1.250000rem;
  line-height: 1.75rem;
  padding-left: 0rem;
}

.header_item--active {
  color: #212121;
}

.header_item--normal {
  color: #B4B1B1;
}

/**
  body
**/
.body {
  width: 100%;
  margin-top: 11.000000rem;
}

.body .character-view {
  width: 14rem;
  height: 17.5rem;
  text-align: center;
}

/**
  character button
**/
.character_btn {
  position: relative;
  background: linear-gradient(-90deg,rgba(96,177,255,1),rgba(57,115,255,1));
  box-shadow: 0px 5px 10px 5px rgba(205,225,246,1);
  border-radius: 5px;
  cursor: pointer;
}

.character_btn + span {
  position: relative;
  top: 1.5rem;
  font-size: 1.5rem;
  color: #212121;
}

/* character_btn large */
.character_btn--large {
  width: 14rem;
  height: 14rem;
}

.character_btn--large > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

/* character_btn small*/
.character_btn--small {
  width: 2rem;
  height: 2rem;
}

.character_btn--small > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
}

.character_btn--user {
  position: absolute;
  top: 1.75rem;
  right: 2.8125rem;
}

.character-view:last-child {
  margin-left: 6.75rem;
}

/**
  footer
**/
.footer {
  position: absolute;
  bottom: 0rem;
  height: 5.1875rem;
  width: 100%;
}

.footer_div {
  width: 57.625rem;
  height: 4.125rem;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 4px 0px rgba(196,197,199,0.5);
  border-radius:5px;
  text-align: center;
  margin: 0 auto;
}

.footer_div img {
  width: 2rem;
  height: 2rem;
}

.footer_div a {
  color: #212121;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  padding-left: 1rem;
}

/**
  操作选项
**/
.container {
  width: 100%;
}

.guide-container {
  margin-top: 3.5625rem;
  margin-left: 4.25rem;
  width: 90%;
}

.guide-container h1 {
  font-size: 2.25rem;
  color: #212121;
}

.guide-container .guide-section {
  width: 80%;
  margin-top: 2.5rem;
}

.guide-section > .h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  color: #6B6868;
  border-bottom: 0.06rem solid rgba(107,104,104,1);
}

.guide-section > .div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.guide-section > .div > span {
  font-size: 0.75rem;
  color:rgba(107,104,104,1);
  line-height:1.06rem;
}
/* 操作指南：选择项 */
.select-btn {
  height: 2.25rem;
  margin-left: 1.5rem;
}

.select-btn:first-child {
  margin-left: 0rem;
}

.select_btn--normal,
.select_btn--add {
  background:rgba(225,224,226,1);
}

.select_btn--normal img {
  display: none;
  width: 1.5rem;
  height: 1.125rem;
}

.select_btn--add {
  position: relative;
  width: 7rem;
  height: 2.25rem;
}

.select_btn--add img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:1.25rem;
  height:1.25rem;
}

.select_btn--normal span {
  color: #FFFFFF;
  font-size: 1rem;
}

.select_btn--active {
  background:rgba(58,116,255,1);
  box-shadow:0px 2px 3px 0px rgba(109,179,253,1);
}

.select_btn--active img {
  display: block;
  width: 1.5rem;
  height: 1.125rem;
}

.select_btn--active span {
  color: #FFFFFF;
  font-size: 1rem;
  padding-left: 0.8125rem;
}

/* 操作选项：数字按钮 */
.select_btn--numactive {
  background:rgba(58,116,255,1);
  box-shadow:0px 2px 3px 0px rgba(109,179,253,1);
}

.select_btn--numactive span {
  color: #FFFFFF;
  font-size: 1rem;
}

/* 操作确认 */
.guide-container .action-section {
  margin-top: 3rem;
  text-align: center;
}

.action-section > .h3 {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-bottom:0.06rem solid rgba(107,104,104,1);
  color: #6B6868;
}

.action-section > .div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.action-section > .div button {
  width:7rem;
  height:2.25rem;
  box-shadow:0rem 0.13rem 0.25rem 0rem rgba(150,147,147,0.5);
  border-radius:0.31rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height:1.38rem;
  margin-left: 2rem;
}

.action-section > .div button:first-child {
  margin-left: 0rem;
}

/**
  查看标准内容
**/
.content-container {
  width: 95%;
  margin: 0 auto;
}

.content-container > .content-header {
  display: flex;
  align-items: center;
  width:58.13rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.content-header img {
  width: 1rem;
  height: 1rem;
}

.content-header > span {
  font-size:1.5rem;
  font-weight: bold;
  color:rgba(33,33,33,1);
  line-height:3.13rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.content-container > .domain-section {
  display: flex;
  width:58.13rem;
  margin: 0 auto;
  margin-top: 0.75rem;
}

.domain-tips span {
  display: inline-block;
  width: 3rem;
  font-size:0.88rem;
  font-weight: bold;
  color:rgba(107,104,104,1);
  line-height:1.38rem;
  border-bottom: 0.06rem solid rgba(107,104,104,1);
}

.domain-section > .domain-items {
  display: block;
  margin-left: 1.5rem;
  overflow-x: scroll;
  scroll-behavior: auto;
}

.domain-items > .domains {
  width: 100%;
  height: 3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}


.domains button {
  display: inline-block;
  margin-left: 0.5rem;
}

.domains button:first-child {
  margin-left: 0rem;
}

/* 按钮样式 */
.domain_btn--normal {
  background:rgba(225,224,226,1);
}

.domain_btn--active {
  background:rgba(58,116,255,1);
  box-shadow:0px 2px 3px 0px rgba(109,179,253,1);
}

.domain_btn--normal,
.domain_btn--active {
  display: inline-block;
  height: 1.75rem;
}

.domain_btn--normal span,
.domain_btn--active span{
  color: #FFFFFF;
  font-size: 0.88rem;
}

/* 搜索框 */
.search-section {
  width:58.13rem;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 0rem;
}

.search-section > span {
  font-size:0.88rem;
  font-weight: bold;
  color:rgba(0,0,0,1);
  line-height:1.25rem;
}

.search-section .radios {
  display: flex;
  align-items: center;
}

/* 搜索组合框 */
.search-radio {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  margin-left: 1rem;
}

.search-section .search_radio:first-child {
  margin-left: 0rem;
}

.search-radio .check-box {
  position: relative;
  width:0.88rem;
  height:0.88rem;
  border-radius:0.13rem;
}

.search-radio .check-box > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  height: 0.6rem;
}

.search-radio > span {
  font-size:0.88rem;
  font-weight: bold;
  color:rgba(96,98,102,1);
  line-height:0.88rem;
  padding-left: 0.5rem;
}

.search_radio--active .check-box {
  background-color: rgba(25,137,250,1);
  border:0.06rem solid rgba(25,137,250,1);
}


.search_radio--active span {
  color: rgba(25,137,250,1);
}

.search_radio--normal .check-box {
  background:rgba(255,255,255,1);
  border:0.06rem solid rgba(213,216,222,1);
}

.search_radio--normal span {
  color:rgba(96,98,102,1);
}

/* 搜索框 */
.searchbar {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 6rem;
}

.searchbar input {
  width:16.81rem;
  height:2.25rem;
  background:rgba(255,255,255,1);
  border-radius:0.31rem;
  border:0.06rem solid rgba(216,216,216,1);
}

.searchbar button {
  margin-left: 0.5rem;
  width:2.13rem;
  height:2.25rem;
  background:rgba(58,116,255,1);
  border-radius:0.31rem;
}

.searchbar button img {
  width:1.5rem;
  height:1.5rem;
}

/* 表格章节 */
.content-container .table-section {
  width:58.13rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.ctable,
.mtable {
  width:58.13rem;
  height:40rem;
  background:rgba(255,255,255,1);
  box-shadow:0rem 0rem 0.63rem 0rem rgba(198,193,193,0.5);
  border-radius:0.31rem;
  overflow-y: scroll;
}

/* content */
.ctable table {
  padding-top: 1rem;
  margin: 0 auto;
}

table thead th{
  border-bottom: 0.06rem solid rgba(0,0,0,1);
}

.ctable table tbody td {
  border-bottom: 0.06rem solid rgba(155,155,155,0.69);
}

.ctable table .col_domain {
  width: 8rem;
  text-align: center;
  font-size: 0.88rem;
  line-height: 0.94rem;
}

.ctable table .col_index {
  width: 8rem;
  text-align: center;
  font-size: 0.88rem;
  line-height: 0.94rem;
}

.ctable table .col_target {
  width: 8rem;
  text-align: center;
  font-size: 0.88rem;
  line-height: 0.94rem;
}

.ctable table .col_goal {
  width: 19rem;
  font-size:0.75rem;
  line-height:0.94rem;
}

.ctable table .col_goal div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* 对标结果表格 */
.mtable {
  position: relative;
}

.mtable table {
  padding-top: 1rem;
  margin: 0 auto;
}

.mtable td {
  font-size: 1rem;
}

.col_domain1 {
  max-width: 13rem;
}

.col_target1 {
  max-width: 10rem;
  text-align: center;
}

.col_domain2 {
  max-width: 13rem;
}

.col_target2 {
  min-width: 13rem;
  text-align: center;
}

.col_target2 div{
  height: 2.4rem;
}

.mtable-col3-row {
  border-bottom: 1px solid black;
}

.mtable-col3-row img {
  width: 1rem;
  height: 1rem;
}

.mtable-col3-row div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  max-width: 13rem;
  height: 1.4rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.mtable-col3-row div span {
  display: inline-block;
  box-sizing: border-box;
  width: inherit;
}

.mtable-col3-append {
  position: relative;
  width: inherit;
  height: 2.5rem;
}

.mtable-col3-append img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
}

/* 图标i */
.div-i {
  position:relative;
}

.img-i {
  width: 1.5rem;
  height: 1.5rem;
}

.div_info {
  position: absolute;
  z-index: 10;
  left: 2.25rem;
  top: -5rem;
  width:52.38rem;
  height:20.44rem;
  background:rgba(255,255,255,1);
  border-radius:0.31rem;
  border:0.06rem solid rgba(151,151,151,1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  visibility: hidden;
}

.div_info .left-view {
  width: 23rem;
  height: 90%;
  overflow: auto;
}

.left-view h3 {
  font-size:0.88rem;
  color:rgba(0,0,0,1);
  line-height:0.94rem;
  padding-top: 1rem;
}

.left-view p {
  padding-top: 1rem;
  font-size:0.88rem;
  color:rgba(0,0,0,1);
  line-height:1.25rem;
}

.div_info .spliter {
  width:0.01rem;
  height:13.06rem;
  border:0.01rem solid rgba(151,151,151,1);
}

.div_info .right-view {
  width: 23rem;
  height: 90%;
  overflow-y: scroll;
}

.right-view h3 {
  font-size:0.88rem;
  color:rgba(0,0,0,1);
  line-height:0.94rem;
  padding-top: 1rem;
}

.right-view p {
  padding-top: 1rem;
  font-size:0.88rem;
  color:rgba(0,0,0,1);
  line-height:1.25rem;
}

.div_info .div_info-img {
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

/* 弹出框选择 */
.popup-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 53.13rem;
  height: 38rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFFFFF;
  visibility: hidden;
}

.popup-frame .popup-main {
  width: 95%;
  margin: 0 auto;
  margin-top: 2rem;
}
/* 步骤提示 */
.popup-step {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

.popup-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup-div img {
  width: 1.5rem;
  height: 1.5rem;
}

.popup-div span {
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 0.5rem;
}

.popup_step--active {
  color:rgba(48,49,51,1);
}

.popup_step--normal {
  color:rgba(144,147,153,1);
}

/* 每列标题 */
.popup-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.popup-title div {
  width: 33.333333%;
  text-align: center;
}

.popup-title span {
  font-size:1.13rem;
  color:rgba(0,0,0,1);
  line-height:1.56rem;
  font-weight: bold;
}

/* 每列内容项 */
.popup-column {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.popup-column > div {
  width: 33.333333%;
  height: 26rem;
  overflow: scroll;
}

.popup_domain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-domain div {
  margin-top: 0.5rem;
}

.popup-domain div:first {
  margin-top: 0rem;
}

.popup-domain div > button {
  width: 100%;
  height: 2rem;
  font-size:1rem;
  color:rgba(255,255,255,1);
  line-height:1.06rem;
}

.popup_domain--normal {
  background-color: rgba(225,224,226,1);
}

.popup_domain--active {
  background-color: rgba(58,116,255,1);
}

/* 第二、三列 */
.popup-target,
.popup-selected {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-target .search-radio,
.popup-selected .search-radio {
  margin-top: 0.5rem;
  font-weight: normal;
}

/* 最底部按钮 */
.frame-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.frame-bottom button {
  width:7rem;
  height:2.25rem;
  border-radius:0.31rem;
  font-size:1rem;
  color:rgba(255,255,255,1);
  line-height:1.38rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.frame-cancel {
  background:rgba(255,66,8,1);
  box-shadow:0rem 0.13rem 0.25rem 0rem rgba(150,147,147,0.5);
}

.frame-ok {
  background:rgba(58,116,255,1);
  box-shadow:0rem 0.13rem 0.25rem 0rem rgba(150,147,147,0.5);
}
